:root {
    /*------------
        COLORS
    ------------*/
    --primary-color: #0282f9;
    --primary-color-text: #fff;
    --secondary-color-text: #464646;
    --tertiary-color-text: #bafd9c;
    --primary-bg-color: #1c1c1c;
    --secondary-bg-color: #55ba59;
    --bg-color-scrollbar: #d3d3d3;
    --bg-color-active-scrollbar: #808080;

    /*----------------------
        CONTAINERS SIZE
    ----------------------*/
    --container-md: 80rem;
}