:root {
    /*------------
        COLORS
    ------------*/
    --primary-color: #0282f9;
    --primary-color-text: #fff;
    --primary-bg-color: #1c1c1c;

    /*----------------------
        CONTAINERS SIZE
    ----------------------*/
    --container-md: 80rem;
}