.create {
    background-color: var(--primary-bg-color);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    &__title {
        text-align: center;
        color: var(--primary-color-text);
        margin: 1.25rem 0;
    }

    &__form {
        color: var(--primary-color-text);

        &-box {
            margin: .9375rem 0;
        }
    }

    .error {
        padding: .625rem;
        margin: .625rem 0;
        color: #842029;
        background-color: #f8d7da;
        border-color: #f5c2c7;

        &__list {
            margin-left: 1.25rem;
        }
    }
}