.home {
    background-color: var(--primary-bg-color);
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    &__title {
        color: var(--primary-color-text);
        margin-bottom: 2.5rem;
    }
}