.index {
    background-color: var(--primary-bg-color);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    &__list {
        display: flex;
        flex-wrap: wrap;
        height: calc(100vh - 6.25rem);
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: .5rem;
        }

        &::-webkit-scrollbar-track {
            border-radius: .625rem;
        }
            
        &::-webkit-scrollbar-thumb {
            background: var(--bg-color-scrollbar); 
            border-radius: .625rem;
        }

        &::-webkit-scrollbar-thumb:hover {
            background: var(--bg-color-active-scrollbar);
        }
    }

    &__card {
        width: calc(100% / 6 - 1.875rem);
        text-align: left;
        margin: .9375rem;
        text-decoration: none;

        &:hover &-text {
            color: var(--primary-color);
        }

        &:hover &-img {
            opacity: 0.5;
        }
        
        &-img {
            width: 100%;
            aspect-ratio: 1;
            object-fit: cover;
            object-position: top center;
        }

        &-text {
            color: var(--primary-color-text);
            text-transform: uppercase;
        }
    }

    .btn {
        margin: 1.25rem;
    }
}